.App {
  text-align: center;
  overflow: hidden;
}


body.App {
  margin: 0;
  overflow: hidden;
}

body.App::-webkit-scrollbar {
  width: 0.2rem;
}

body.App::-webkit-scrollbar-thumb {
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}body, html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
  overflow: hidden;
  /* scrollbar-width: none; */
}

/* Optional: Add scrollbar styles for Firefox */
.container::-webkit-scrollbar {
  width: 0.2rem;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.video {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 100px 20px; /* Adjust the top padding to avoid content being hidden behind the video */
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.scrollable-content {
  max-height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;

  overflow-y: auto;
}
.scrollable-content::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollable-div {
  padding: 10px;
  margin: 5px;
  text-align: center;
  height: 300px;
  border: 1px solid #ddd;
}
.container {
  position: relative;
  overflow: hidden;
}

/* Optional: Add scrollbar styles for Firefox */
.container::-webkit-scrollbar {
  width: 0.2rem;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.video {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 100px 20px; /* Adjust the top padding to avoid content being hidden behind the video */
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}
.burger-container {
  position: fixed; /* or absolute */
  width: 100%;
  top: 0px;
  /* bottom: 20px; */
  right: 10px;
  /* left: 20px; */
  z-index: 2; 
}
.scrollable-content {
  max-height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Animation for elements coming from the left */
.scrollable-div:nth-child(odd) {
  animation: slideInLeft 2s ease forwards;
}

/* Animation for elements coming from the right */
.scrollable-div:nth-child(even) {
  animation: slideInRight 2s ease forwards;
}
.sidebyside{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo{
  width: 20%;
}

.Image{
  width: 20%;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  position: relative;
  /* border: 2px  solid red; */
  bottom: 4rem;
}